@mixin keyframes($animation-name) {
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($animation-name) {
  animation: $animation-name;
  animation-fill-mode: forwards;
}

@include keyframes(scroll) {
  0% {
    transform: translateY(-20%);
  }

  100% {
    transform: translateY(0%);
  }
}

@include keyframes(slidein-from-left) {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@include keyframes(slidein-from-right) {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@include keyframes(fadein) {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@include keyframes(extend) {
  0% {
    opacity: 0;
    transform: scaleX(0.8);
  }

  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}

@include keyframes(spread) {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@include keyframes(cold) {
  0% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(0);
  }
}

@include keyframes(circle) {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

@include keyframes(shadow) {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    opacity: 0.7;
    transform: scaleX(1);
  }

  100% {
    opacity: 0.4;
    transform: scaleX(0.2);
  }
}
