$z-index: (
  header: 200,
  star: 100,
  ward: 300,
  scroll-top: 400,
  modal: 900,
  modal-close: 999,
);

$max-width: (
  container: 960px,
  fv-logo: 722px,
  fv-scroll: 206px,
  fv-logo-sp: 612px,
  fv-scroll-sp: 255px,
);
