@use 'sass:map';
@use '../../../styles/variables.scss';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: map.get(variables.$z-index, modal);
  width: 100%;

  &__bg {
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    background-color: rgb(0 0 0 / 80%);
  }

  &__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75.9%;
    background-color: #fff;
    transform: translate(-50%, -50%);
  }

  &__content {
    position: relative;
    width: 100%;

    &::before {
      display: block;
      padding-top: 56%;
      content: '';
    }
  }

  &__movie {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
  }

  &__close {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: map.get(variables.$z-index, modal-close);
    cursor: pointer;
  }
}
