@use '../../../styles/animation';

.full {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  opacity: 0;
  transition: opacity 0.5s ease-out, z-index 0.5s ease-out;

  &.show {
    z-index: 100000;
    opacity: 1;
  }
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 60px;
  transform: translate(-50%, -50%);
}

.circle {
  position: absolute;
  left: 15%;
  width: 20px;
  height: 20px;
  background-color: #853a0e;
  border-radius: 50%;
  transform-origin: 50%;
  @include animation.animation(circle 0.5s alternate infinite ease);
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.25s;
}

.circle:nth-child(3) {
  right: 15%;
  left: auto;
  animation-delay: 0.5s;
}

.shadow {
  position: absolute;
  top: 62px;
  left: 15%;
  z-index: -1;
  width: 20px;
  height: 4px;
  background-color: rgb(0 0 0 / 50%);
  filter: blur(1px);
  border-radius: 50%;
  transform-origin: 50%;
  @include animation.animation(shadow 1s alternate infinite ease);
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}

.shadow:nth-child(5) {
  right: 15%;
  left: auto;
  animation-delay: 0.3s;
}
